[Unit]
Description=RiM-TiR Protocol Service
After=network-online.target mosquitto.service
Wants=network-online.target

[Service]
User=rimtir
Group=rimtir
WorkingDirectory=/var/lib/rim-tir/protocol
ExecStart=/usr/bin/rim-tir-protocol -config /etc/rim-tir/protocol.yaml
Restart=always
RestartSec=3
Environment=LD_LIBRARY_PATH=/usr/lib/rim-tir-protocol

[Install]
WantedBy=multi-user.target
